#our_story-section .inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 606px;
    margin: 0 auto;
    padding: 40px 0px;
}

#our_story-section .inner .left
{
    margin-right: 30px;
}

#our_story-section .inner .right
{
    margin-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#our_story-section .inner .right button
{
    color: rgb(117,174,184);
    border: 1px solid rgb(117,174,184);
    padding: 10px;
    background-color: rgb(0,0,0,0.0);
    border-radius: 4px;
    cursor: pointer;
}