* {
    margin: 0;
}

body
{
    max-width: 606px;
    margin: 0 auto;
}

main
{
    margin-top: 350px;
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

nav
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.94em;
    color: #fff;
    max-width: 606px;
    margin: 0 auto;
}

header
{
    background: url(images/bgk-header.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 350px;
}

header .inner
{
    display: flex;
    justify-content: space-between;
}

header .inner .left
{
    display: flex;
    align-items: center;
    color: rgb(117,174,184);
}

header .inner .left div:nth-child(1)
{
    padding-right: 10px;
}

header .inner .left img
{
    height: 40px;
    margin: 4px 0;
}

header .inner .right
{
    display: flex;
}

header .inner .right .item:nth-child(1)
{
    color: rgb(117,174,184);
}

header .inner .right .item
{
    padding: 0;
    padding-left: 10px;
    line-height: 48px;
    height: 48px;
}

header .inner .right .item:nth-last-child(1)
{
    padding-right: 10px;
}

header .inner .left div, 
header .inner .right div
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #hero-section
{
    color: #fff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #hero-section h1
{
    font-size: 1.4em;
}

header #hero-section p
{
    line-height: 1.6em;
    max-width: 606px;
    margin: 0 auto;
    padding-bottom: 30px;
}

header #hero-section button
{
    color: rgb(117,174,184);
    border: 1px solid rgb(117,174,184);
    padding: 10px;
    background-color: rgb(0,0,0,0.0);
    border-radius: 4px;
    cursor: pointer;
}

#our_story-section {
    /*color: green;*/
}

#our_story-section .inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 606px;
    margin: 0 auto;
    padding: 40px 0px;
}

#our_story-section .inner .left
{
    margin-right: 30px;
}

#our_story-section .inner .right
{
    margin-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#our_story-section .inner .right button
{
    color: rgb(117,174,184);
    border: 1px solid rgb(117,174,184);
    padding: 10px;
    background-color: rgb(0,0,0,0.0);
    border-radius: 4px;
    cursor: pointer;
}

#watch-section {
    /*color: darkred;*/
}

#watch-section
{
    height: 400px;
}

#watch-section .inner
{
    position: absolute;
    width: 100%;
    left: 0px;
    background-image: url(images/bgk-middle.png);
    background-size: cover;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#watch-section .inner .item .label
{
    padding-top: 20px;
}

#expertise-section {
    /*color: fuchsia;*/
}


#expertise-section {
    width: 100%;
}

#expertise-section .inner {
    max-width: 606px;
    margin: 0 auto;
}

#expertise-section .upper {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#expertise-section .upper h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px 0;
}

#expertise-section .upper h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 10px;
}

#expertise-section .upper hr {
    border: none;
    border-top: 1px solid rgb(230,230,230);
    width: 100px;
    margin: 0 auto;
}
#expertise-section .lower {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

#expertise-section .lower .item {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#expertise-section .lower .item:nth-child(1),
#expertise-section .lower .item:nth-child(2) {
    border-right: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
}

#expertise-section .lower .item:nth-child(3) {
    border-bottom: 1px solid rgb(230,230,230);
}

#expertise-section .lower .item:nth-child(4),
#expertise-section .lower .item:nth-child(5) {
    border-right: 1px solid rgb(230,230,230);
}

#expertise-section .lower .item .pic img
{
    height: 48px;
}

#expertise-section .lower .item .pic,
#expertise-section .lower .item .tle,
#expertise-section .lower .item .dsc {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#expertise-section .lower .item .tle {
    font-weight: bold;
    font-size: 0.9em;
}

#expertise-section .lower .item .dsc {
    font-weight: normal;
    font-size: 0.8em;
}

#team-section {
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}